@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Montserrat&display=swap");

$font-h: "Montserrat", sans-serif;
$font-p: "Nunito", sans-serif;
$base-color-darker: rgba(99, 42, 153, 1);
$base-color-lighter: rgb(137, 62, 207);
$base-color: rgba(111, 47, 171, 1);
$base-color-90: rgba(111, 47, 171, 0.9);
$base-color-80: rgba(111, 47, 171, 0.8);
$base-color-70: rgba(111, 47, 171, 0.7);
$base-color-60: rgba(111, 47, 171, 0.6);
$base-color-50: rgba(111, 47, 171, 0.5);
$base-color-40: rgba(111, 47, 171, 0.4);
$base-color-30: rgba(111, 47, 171, 0.3);
$base-color-20: rgba(111, 47, 171, 0.2);
$base-color-10: rgba(111, 47, 171, 0.1);
$base-white: #f6edff;

// Custom Breakpoint
$screen-mobile: 1200px;
@mixin scm {
  @media (max-width: #{$screen-mobile}) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-p;
  min-height: 100vh;
  background-color: $base-white;

  .nav-logo {
    height: 40px;
  }

  .m-hide {
    @include scm {
      display: none;
    }
  }

  .m-show {
    display: none;

    @include scm {
      display: block;
    }
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .bg-base-white {
    background-color: $base-white;
  }

  .text-justify {
    text-align: justify;
  }

  nav {
    #sidebar {
      height: 100vh;
      width: max-content;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      transition: all 0.5s ease-in-out;

      #sidebar-container {
        height: 100vh;
        width: 87vw;
        max-width: 250px;
        background-color: $base-color;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        position: relative;

        .sidebar-item {
          padding: 8px;
          border-radius: 4px;
          color: rgba($color: #ffffff, $alpha: 0.8);

          &:hover {
            color: rgba($color: #ffffff, $alpha: 1);
            background-color: rgba($color: #ffffff, $alpha: 0.2);
          }
        }
      }

      .btn-register-sidebar {
        background-color: rgba($color: #ffffff, $alpha: 0.7);
        color: $base-color;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: rgba($color: #ffffff, $alpha: 1);
        }
      }
    }

    .sidebar-shown {
      transform: translateX(0px) !important;
    }

    .nav-item {
      cursor: pointer;
    }

    .nav-icon {
      font-size: 22px;
      cursor: pointer;
    }

    .btn-register {
      background-color: $base-color;
      color: #fff;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: $base-color-90;
      }
    }
  }

  main {
    min-height: 120vh;
    padding-top: 90px;
  }

  footer {
    a {
      text-decoration: none;
      color: #666;
      margin-bottom: 4px;

      &:hover {
        color: $base-color;
      }
    }

    li {
      list-style: none;
      display: flex;
      align-items: center;
    }

    .ftr-part {
      height: max-content;
      width: 50%;
      margin-bottom: 14px;

      @include scm {
        width: 100%;
        padding: 0px !important;
        margin-bottom: 20px;
      }
    }

    .ftr-part-r {
      ul {
        @include scm {
          width: 50%;
        }
      }
      @include scm {
        justify-content: start;
      }
    }

    .ftr-part-b {
      height: max-content;
      width: 50%;

      @include scm {
        width: 100%;
        padding: 0px !important;
      }
    }

    .ftr-part-b-r {
      display: flex;
      justify-content: center;

      @include scm{
        justify-content: flex-start;
        margin-bottom: 14px;
      }
    }


    .ftr-s-icon {
      height: 35px;
      width: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $base-color-80;
      border-radius: 50%;
      background-color: #e3d5fd;
    }

    .ftr-icon-container {
      height: 30px;
      width: 30px;
      display: inline-flex;
      justify-content: center;
      align-items: flex-end;
      margin-right: 14px;
    }

    .ftr-icon {
      font-size:  24px;
      color: $base-color-darker;
    }
  }
}
