@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Montserrat&display=swap");

$font-h: "Montserrat", sans-serif;
$font-p: "Nunito", sans-serif;
$base-color-darker: rgba(99, 42, 153, 1);
$base-color-lighter: rgb(137, 62, 207);
$base-color: rgba(111, 47, 171, 1);
$base-color-90: rgba(111, 47, 171, 0.9);
$base-color-80: rgba(111, 47, 171, 0.8);
$base-color-70: rgba(111, 47, 171, 0.7);
$base-color-60: rgba(111, 47, 171, 0.6);
$base-color-50: rgba(111, 47, 171, 0.5);
$base-color-40: rgba(111, 47, 171, 0.4);
$base-color-30: rgba(111, 47, 171, 0.3);
$base-color-20: rgba(111, 47, 171, 0.2);
$base-color-10: rgba(111, 47, 171, 0.1);

// Custom Breakpoint
$screen-mobile: 1200px;
@mixin scm {
  @media (max-width: #{$screen-mobile}) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-p;
  .nav-logo {
    height: 40px;
  }

  .m-hide {
    @include scm {
      display: none;
    }
  }

  .m-show {
    display: none;

    @include scm {
      display: block;
    }
  }

  .cursor-pointer {
    cursor: pointer;
  }

  nav {
    #sidebar {
      height: 100vh;
      width: max-content;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      transition: all 0.5s ease-in-out;

      #sidebar-container {
        height: 100vh;
        width: 87vw;
        max-width: 250px;
        background-color: $base-color;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        position: relative;

        .sidebar-item {
          padding: 8px;
          border-radius: 4px;
          color: rgba($color: #ffffff, $alpha: 0.8);

          &:hover {
            color: rgba($color: #ffffff, $alpha: 1);
            background-color: rgba($color: #ffffff, $alpha: 0.2);
          }
        }
      }

      .btn-register-sidebar {
        background-color: rgba($color: #ffffff, $alpha: 0.7);
        color: $base-color;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: rgba($color: #ffffff, $alpha: 1);
        }
      }
    }

    .sidebar-shown {
      transform: translateX(0px) !important;
    }

    .nav-item {
      cursor: pointer;
    }

    .nav-icon {
      font-size: 22px;
      cursor: pointer;
    }

    .btn-register {
      background-color: $base-color;
      color: #fff;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: $base-color-90;
      }
    }
  }
}
